/**
  * Loaind the styles for loading the carousel for the desk top 
  
**/

* {
	box-sizing: border-box;
	font-family: verdana;
	font-size: 12px;
  margin: 0;
 }
 
 
 .block { 
 		width: 100%;     
 		padding: 20px;
    background: #003145; 
    height: 290px; 
    position: relative;
  }
 

 .block1 {
	position: relative;
	overflow: hidden;
 }
 
 .block2 {
	background-color: #fff;
	position: relative;
 }

 .block3 {
 	position: absolute;
 	bottom: 0;
 	height: 20px;
 }
 
 .container {
	position: absolute;
	left: 0;
	transition: left .5s;
	/*width: 400%; logic changed based on no. of slides*/
 }
 

 .slide {
	background-position: center bottom;
	background-repeat: no-repeat;
	
	height: 250px;
	position: absolute;
	transition: left .5s;
 }
 

.arrow {
	width: 25px;
	height: 25px;
	background-image: url(../images/arrow1.png);
	position: absolute;
	top: 110px;
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

.arrow.left {
	left: 10px;
}

.arrow.right {
	right: 10px;
	-webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.block2 .text {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 250px;
	padding: 20px;
	opacity: 0;
	transition: opacity .5s;
}




.headtxt { color: #64B5F6; }
.desctxt { color: #1A237E; }
.linktxt { color: #64B5F6; font-weight: bold; cursor: pointer; }

.block3 .list {
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background-color: #fff;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
	cursor: pointer;
}

.block3 .list.active {
	background-color: #64B5F6;
}

.block3list {
	/*width: 65px;logic changed based on no. of slides*/
  height: 20px;
  position: relative;
  margin: 0 auto;
}
