
/**
  * Loaind the responsive media queries for loading the carousel for the desk top 
  * mobile and tablet.
**/
@media only screen and (min-width:500px) and (max-width:2500px){
.block1, .block2 {
		width: 50%;
		float: left;
		height: 250px;
	}

	.headtxt { padding: 20px 0; font-size: 18px; }
	.desctxt { font-size: 14px; }
	.linktxt { padding: 20px 0; font-size: 16px; }

	.block3 { width: calc(50% - 20px); }
}

@media only screen and (min-width:800px) and (max-width:2500px){
	.slide {
		background-size: 100% auto;
	}
}

@media only screen and (min-width:500px) and (max-width:799px){
	.slide {
		background-size: auto 100%;
	}
}

@media only screen and (min-width:100px) and (max-width:499px){
.block1, .block2 {
		width: 100%;
		height: 250px;
	}

	.block2 {
    margin-top: 20px;
	}
	.block{
		background-color:white;
	}
	
	.slide {
		background-size: auto 100%;
	}

	.headtxt { padding: 10px 0; font-size: 16px; }
	.desctxt { font-size: 12px; }
	.linktxt { padding: 10px 0; font-size: 14px; }

	.block3 { width: calc(100% - 20px); }
}